body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4em;
  background: lightblue;
  font-family: sans-serif;
  color: white;
}

.timer, .display, h1  {
  display: flex;
  justify-content: center;
}

#custom {
  text-align: center;
  margin: 1em;
}

.display {
  font-size: 5em;
  flex-direction: column;
  margin: 30px 0;
}

.display-time-left {
  margin: 0;
}

.display-end-time {
  margin: 1em 0;
  text-align: center;
}
