.posts-list {
  border: 1px solid black;
  font-size: 15px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.posts-list > ul {
  padding: 1em;
}

.posts-list-item, ul > a {
  /*display: flex;*/
  width: 250px;
  height: auto;
  margin: 15px;
  padding: 5px;
}

.posts-list-item {
  border: 1px solid blue;
}

.posts-list-item > ul, .posts-list-item > h3 {
  margin: 10px;
}
